<form #f="ngForm">
 
  <input type="hidden" name="id" [(ngModel)] = "user.id">

  <div class="form-group">
  <label for="nome">Nome</label>
  <input class="form-control" [(ngModel)] = "user.nome" name="nome" id="nome">
  </div>

  <div class="form-group">
  <label for="cognome">Cognome</label>
  <input class="form-control" [(ngModel)] = "user.cognome" name="cognome" id="cognome">
  </div>

  <div class="form-group form-footer">
    <button class="btn btn-primary btn-sm" (click) = "saveUser()">SAVE</button>
    <button class="btn btn-danger btn-sm" (click) = "resetForm(f.form)">RESET</button>
  </div>

</form>