button.delete {
  background: red;
  padding: 5px;
  color:white;
  border:1px solid white;
}

button.update {
  background: green;
  padding: 5px;
  color:white;
  border:1px solid white;
}
